@import 'font.css';
@import 'typography.css';
@import 'colors.css';

/* Make sure the image size is reasonable. */
.blog-post img {
  max-width: 100%;
}

.row-even .col-label {
  background: #f8f8f8;
}

.row-even .col-content {
  background: #fcfcfc;
}

.row-odd .col-label {
  background: #fbfbfb;
}

.row-odd .col-content {
  background: #fff;
}

.col-label {
  text-align: right;
}

/**
 * Contact me.
 */
.social-icons {
  margin: auto;
  margin-top: 25px;
  text-align: center;
  min-height: 60px;
}
.social-icons a {
  display: inline-block;
  margin: 0 3px;
  width: 60px;
  height: 60px;
  line-height: 57px;
  color: #333333;
  border: 2px solid #333333;
  text-align: center;
  font-size: 1.3em;
  border-radius: 60px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.social-icons a:hover {
  border-color: #ffe319;
  color: #ffe319;
  text-decoration: none;
}