@import 'font.css';
@import 'typography.css';
@import 'colors.css';

.row-even .col-label {
  background: #f8f8f8;
}

.row-even .col-content {
  background: #fcfcfc;
}

.row-odd .col-label {
  background: #fbfbfb;
}

.row-odd .col-content {
  background: #fff;
}

.col-label {
  text-align: right;
  padding: 2em;
}

#intro .col-label {
  text-align: center;
}

.col-content {
  padding: 2em;
}

.front-content-wrapper {
  max-width: 900px;
}

#pic-of-neil {
  border-radius: 50%;
  width: 10em;
  /*filter: grayscale(100%);*/
  margin: auto;
}

/**
 * Contact me.
 */
.social-icons {
  margin: auto;
  text-align: center;
  min-height: 60px;
}

.social-icons-small {
  margin-top: 0.25em;
}

.social-icons a {
  display: inline-block;
  margin: 0 3px;
  width: 60px;
  height: 60px;
  line-height: 57px;
  color: #333333;
  border: 2px solid #333333;
  text-align: center;
  font-size: 1.3em;
  border-radius: 60px;
  transition-timing-function: ease-in;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.social-icons-small a {
  display: inline-block;
  margin: 0 3px;
  color: var(--mid-grey);
  text-align: center;
  font-size: 1em;
  transition-timing-function: ease-in;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.social-icons a:hover, .social-icons-small a:hover {
  border-color: var(--yellow);
  color: var(--yellow);
  text-decoration: none;
}

.blur {
  -webkit-filter: blur(5px);
  transition-timing-function: ease-in;
  -webkit-transition: all .25s;
  transition: all .25s;
}

/*how i can help*/
#how h4 {
  border-left: 7px solid var(--yellow);
  padding-left: 1em;
}

/* Work */
#work .work-item {
  height: 350px;
}

#work .work-item img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#work .work-item img,
.blog-thumbnail-wrapper img {
  max-width: 100%;
  height: auto;

  -webkit-transition: all .25s;
  transition: all .25s;
}

.info-layer {
  position: absolute;
  background-color: rgba(255,255,255,0.33);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 20%;
  overflow: hidden;
  text-align: center;
  display: none;
}

a .info-layer {
  text-decoration: none;
  color: var(--text-black);
}

.work-item .info-layer {
  padding-top: 30%;
}

.modal-lg {
  max-width: 75%;
}

/* Blog */
.blog-thumbnail-wrapper {
  display: block;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid var(--light-grey);
  height: 24em;
}

.blog-thumbnail-wrapper h3 {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.blog-thumbnail-wrapper-img {
  overflow: hidden;
  display: block;
  width: 100%;
  position: relative;
}

.blog-thumbnail-wrapper .caption {
  padding: 0.5em;
}

.blog-thumbnail-wrapper h6 {
  margin-bottom: 0.05em;
}

#blog .blog-thumbnail-wrapper a.button {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
}

.button {
  display: inline-block;
  padding: 12px 45px;
  color: var(--text-black);
  border: 2px solid var(--text-black);
  font-size: .9em;
  font-weight: 600;
}

.button:hover {
  color: var(--text-black);
  text-decoration: none;
}

.blog-post-container {
  margin: -21.5em auto auto;
  background-color: rgba(255,255,255,0.5);
  float: none;
  padding: 10px 50px;
}

.title-date-container {
  min-height: 10em;
  margin-bottom: 2.5em;
}

.blog-post-image {
  height: 800px;
  margin-top: 0;
  width: 100%;
}

.blog-post-image img,
.blog-post-image picture {
  width: 100%;
  overflow: hidden;
  margin: auto;
}

p img,
figure img{
  max-width: 100%;
}

figcaption h4 {
  font-size: 0.8rem;
  color: var(--mid  -grey);
  font-weight: normal;
}

.go-back {
  position: fixed;
  bottom: 20px;
  margin-left: 20px;
}

.go-back .button {
  padding: 5px 15px;
  font-size: .75em;
  border: 2px solid var(--text-black);
}

@media (max-width: 767px) {
  header {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
  }

  ul.navbar-nav {
    padding: 2em;
    background-color: #f4f4f4;
    font-weight: bold;
  }

  ul.navbar-nav a {
    color: var(--text-black);

  }

  #work .work-item {
    height: 200px;
    overflow: hidden;
  }
  #work .work-item img {
    margin: 0 auto;
    max-height: 120%;
    vertical-align: middle;
  }

  .modal {
    padding-right: 0 !important;
  }
  .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    max-width: none;
  }

  .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
    border: none;
  }

  .col-label {
    padding: 1em 2em;
  }

  .col-label h3 {
    margin-bottom: 0;
  }

  .blog-post-image {
    height: auto;
  }

  .blog-post-container {
    margin-top: 0px;
    padding: 1em 1.5em;
  }

  .go-back {
    position: relative;
    margin-top: 30px;
  }
}

