<article class="blog-thumbnail-wrapper">
    {{ $resource := .Resources.GetMatch "thumb" }}
    {{ $image := $resource.Fill "350x220" }}
    <div class="blog-thumbnail-wrapper-img">
        <img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}">
        <div class="info-layer">
            <a href="{{ .RelPermalink }}" class="button bold-subtitle">Read</a>
        </div>
    </div>
    <div class="caption">
        <h3 class="">{{ .Title }}</h3>
        <h6 class="term">{{ partial "post-tags" . }}</h6>
        <div class="summary">
            <p>{{ .Params.summary }}</p>
        </div>
    </div>
</article>

