<article class="blog-thumbnail-wrapper">
    {{ $resource := .Resources.GetMatch "image" }}
    {{ $image := $resource.Fill "480x250" }}
    <div class="blog-thumbnail-wrapper-img">
        <img src="{{ $image.RelPermalink }}" alt="{{ $resource.Title }}" width="{{ $image.Width }}" height="{{ $image.Height }}">
        <div class="info-layer">
            <a href="{{ .RelPermalink }}" class="button bold-subtitle">Read</a>
        </div>
    </div>
    <div class="caption">
        <h3 class=""><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        <h6 class="term">{{ partial "post-tags" . }}</h6>
        <div class="summary" style="font-weight: 200">
            <p>{{ .Params.summary }}</p>
        </div>
    </div>
</article>

