<header class="blog-header">
    <nav class="navbar d-block d-sm-none">
        <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="dark-blue-text"><i class="fa fa-bars fa-1x">///</i></span>
        </button>
    </nav>
</header>
<div class="collapse navbar-collapse" id="navbarSupportedContent1">
    <ul class="navbar-nav">
        {{ $url := .URL | relLangURL }}
        {{ range .Site.Menus.main }}
        <li class="nav-item {{ if eq $url (.URL | relLangURL) }}active{{end}}">
            <a class="nav-link" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
        </li>
        {{ end }}
    </ul>
</div>