<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="keywords" content="Drupal, contractor, London, consultant, Angular, freelancer, Ruby on Rails" class="ng-scope">
<meta name="description" content="Tech guy based in London working with organisations large and small to deliver brilliant products with rails, drupal and agile.">
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}
