<div class="col-md-3 col-label">
  <img src="{{ .Site.BaseURL }}/images/me_sq.jpg" id="pic-of-neil" alt="Picture of Neil Cameron" title="Neil Cameron">
</div>
<div class="col-md-9 col-content">
  <div class="title-name-container">
    <div class="title-name">Neil<br/>Cameron</div>
    <div class="title-tagline">Technology.&nbsp;&nbsp;Product.&nbsp;&nbsp;Delivery.</div>
    <div class="social-icons-small">
      <a href="https://twitter.com/ncameron" target="_blank"><span class="icon-twitter"></span></a>
      <a href="https://uk.linkedin.com/in/neiljcameron" target="_blank"><span class="icon-linkedin"></span></a>
      <a href="https://github.com/njcameron" target="_blank"><span class="icon-github"></span></a>
      <a href="mailto:neil@neilcameron.me" target="_blank"><span class="icon-envelope"></span></a>
    </div>
  </div>

</div>